header{
    background-color: #db3434;
    padding:30px;
    margin-bottom: 20px;
    text-align:center;
    font-size:30px;
    color: #000000;
}
.main.container {
    max-width: 960px;
    min-width: 600px;
    margin: auto;
}
